body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #CC0000;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px #F8E0E0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px #888888;
    background-color: #FFFFFF;
   
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #AAAAAA;
}

th {
    background-color: #FFD633;
    color: #333333;
    text-shadow: 2px 2px #F0E68C;
}

td {
    background-color: #FFFFFF;
    color: #333333;
}

td img {
    max-height: 200px;
    max-width: 200px;
    vertical-align: middle;
}

td.type {
    text-transform: capitalize;
}

button{
    margin-top: 20px;
    
}

